<div ng-controller="MainCtrl as my" class="text-center">
  <div>
    <h1>Angular DrunkTest</h1>
    <h3>Es-tu en état de conduire ?</h3>
  </div>

  <div id="warning">
    <p>
      Tu sors d'une soirée un peu arrosée et c'est le moment de prendre la voiture. Mais tu n'est pas sûr de savvoir si tu es en état de conduire.
    </p>

    <p>
      Ne t'inquiète pas ! Cette application va t'aider à déterminer si tu as les idées claires et un cerveau suffisamment réactif, en te proposant de répondre a une série de réponse.
    </p>

    <p>
      En résumé : TU RÉPONDS AUX QUESTIONS ET ON TE DIT SI T'ES BOURRÉ !
    </p>

    <p>
      Attention ! Cette application web s'inscrit dans un cadre de pur divertissement, et ne constitue en aucun cas une autorisation officielle de prendre la route, et ce quelque soit le résultat.<br>
      Le conducteur reste le seul responsable en cas d'accident lié à la consommation Abusive d'alcool.
    </p>

  <span id="legal">
    <input id="go" type="checkbox" ng-model="my.start.value">
    <p>J'ai bien comris que ce test n'est pas officiel et que je suis le seul garant de ma sécurité et de celle des autres.</p>
  </span>

    <a ng-href="#/test" class="btn btn-primary" ng-show="my.start.value">OK ! C'est partie</a>
  </div>
</div>

